{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bank accounts</h1>
    <ol>
        {% for bankAccount in bankAccounts %}
            <li>
                <a href="{{ path('cqrs_bank_account_details', {accountNumber: bankAccount.accountNumber}) }}">{{ bankAccount.accountNumber.format }}</a>
                &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Balance:</strong> {{ bankAccount.accountBalance }} 
                &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Deposit:</strong>
                <a class="btn" href="{{ path('cqrs_bank_account_deposit', {accountNumber: bankAccount.accountNumber, amount: 10000}) }}">+100 EUR</a>
                <a class="btn" href="{{ path('cqrs_bank_account_deposit', {accountNumber: bankAccount.accountNumber, amount: 1000}) }}">+10 EUR</a>
                &nbsp;&nbsp;|&nbsp;&nbsp; <strong>Pay:</strong>
                <a class="btn" href="{{ path('cqrs_bank_account_pay', {accountNumber: bankAccount.accountNumber, amount: 10000}) }}">-100 EUR</a>
                <a class="btn" href="{{ path('cqrs_bank_account_pay', {accountNumber: bankAccount.accountNumber, amount: 1000}) }}">-10 EUR</a>
                &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{{ path('cqrs_transaction_list', {bankAccountId: bankAccount.id}) }}">show transaction</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
